<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>鲁教测评教师端</title>
    </head>
    <body>
        <div id="app"></div>
        <!-- dll files will be auto injected -->
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script type="text/javascript" src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
        <!-- built files will be auto injected -->
    </body>
</html>
