// 试卷问题及选项
.questionBox {
    border-radius: 5px;
    font-size: 14px;
    img {
        max-width: 100%
    }
    .qHeader {

    }
    .qContent {
    }
    .qFooter {
    }
    .margin{
        margin-right: 23px;
    }
    // 标题部分
    .qcTitle {
        padding: 10px;
        position: relative;
        min-height: 56px;
    }
    .qctTextBox {
    }
    .qctIndex {
        width: 26px;
        position: absolute;
        left: 10px;
        top: 10px;
        & ~ .qctTextBox {
            padding-left: 26px
        }
    }
    .qctTodoBox {
        position: absolute;
        top: 0;
        right: 0;
    }
    .qcMain {
        padding: 0 5px
    }
    .qcmSel {
        position: relative;
        margin-bottom: 5px;
    }
    .qcmSelItem {
        width: 26px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
    }
    .qcmSelText {
        text-indent: 30px;
    }

    .qcFooter {
        min-height: 32px;
        margin-top: 10px;
        padding: 0 10px;
        //border-radius: 3px;
        //background-color: #fff7de;
        //border: solid 1px #f8e1c3;
    }
    .qcfItem {
        display: inline-block;
        margin-right: 10px;
        margin-top: 5px;
        &.error {
            color: red;
        }
        &.success {
            color: green;
        }
    }
    .qcfiAnswer {
        color: #fd7416;
    }
    .qcfShowExp {
        color: #fc4341;
    }
    .qcfExpCon {
        padding-bottom: 5px;
        color: #fc4341;
    }
}

.qAnswerBox {
    padding: 20px 0;
    .el-button {
        border-radius: 30px;
        background: rgb(255, 255, 255);
        color: rgb(49, 49, 49);
        &.active {
            background: rgb(253, 116, 22);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(253, 116, 22);
        }
    }
}
