// 试卷整体布局
.paperView {
  padding: 20px;
  &.edit {
    position: relative;
    .paperBody {
      max-height: initial;
      overflow: initial;
    }
    .paperQuestionType {
      margin-bottom: 10px;
      margin-top: 50px;
      &:first-child {
        margin-top: 0;
      }
    }
    .btnBox {
      margin-top: 40px
    }
    .pTitle {
      padding: 10px 0;
      i {
        cursor: pointer;
      }
    }
    .publishBtn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &.show {
    .questionTypeText {
      margin-bottom: 10px;
      margin-top: 34px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .paperHeader {
    font-size: 15px;
  }
  .paperTitle {
    margin-bottom: 10px;
    line-height: 50px;
    border-bottom: 1px solid #dee;
    b {
      color: #11a63f;
    }
  }
  .paperTodoBox {
    margin-top: 20px;
  }
  .paperStructure {
    margin-top: 20px;
  }
  .questionBox {
    margin-bottom: 26px;
  }
  .paperBody {
    max-height: 550px;
    overflow: auto;
    //padding: 20px;
    .todoTypeBox {
      width: 100px;
      margin-left: 10px;
    }
  }
  .paperQuestionType {
    line-height: 34px;
    background-color: #f5f5f5;
    padding-left: 10px;
  }
  .questionItem0 {
    margin-top: 0 !important;
  }
}

.publishModal {
  p {
    line-height: 24px;
    padding-bottom: 20px;
    text-align: center;
  }
}
